html, #timeline-container {
  height: 100%;
}
body {
  min-height: 100%;
}

#section-1 {
	background: #3498db;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 960px;
}

#camera {
	z-index: 10;
}
/* how to vertical align this item */
#center-container {
	margin-top: 45px;
}

#camera-container {
  	   position: absolute;
}

#timeline-container {
	position: relative;
	width: 100px;
	float: right;
	color: white;
	margin-top: 5px;
}

path {
	stroke: white;
}

#imageSlider-container {
	z-index: 0;
	margin-right: 248px;
	margin-top: 534px;
	position: relative;
}

#imageSlider-container div{
	position: absolute;
	bottom: 0;
	right: 0;
}