html, #timeline-container {
  height: 100%;
}
body {
  min-height: 100%;
}



#section-1 {
	background: #3498db;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 2000px;
}

#camera {
	z-index: 100;
}
/* how to vertical align this item */
#centerContainer {
	margin-top: 3em;
}

#cameraContainer {
  	   position: absolute;
}

#timelineContainer {
	position: relative;
	width: 100px;
	float: right;
	color: white;
	margin-top: 5px;
}

path {
	stroke: white;
}

#imgSliderContainer {
	z-index: 0;
	position: fixed;
	left: 652px;
	top: 576px;
	bottom: auto;
	right: auto;
}

#imgSliderContainer div{
	position: absolute;
	bottom: 0;
	right: 0;
}

#imgSliderContainer img {
	z-index: 0;
}

#section-2 {
	height: 500px;
}

#timelineContainer div {
	display: table;
}


#timelineDateBlock {
	margin-top: 5.5px;
}

#timelineDateBlock td{
	padding-bottom: 171px;
}

/* img slider */
#box {
	width: 312px;
	height: 248px;
	border: 2px solid red;
	
	overflow-y: scroll;
	overflow-x: hidden;
	
	position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       margin: auto;
}

#box::-webkit-scrollbar { width: 0 !important; }
#box { -ms-overflow-style: none; }

