@charset "UTF-8";

@import 'mixin.scss';
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


/* Mobile devices less than 768px */ 
@media (max-width: 768px){
	//general
	h1, h2{
		font-size: 2em;
	}
	
	.title{
		margin-top: $phi * 1em;
	}

	section, #skills, .left-column, .right-column{
		height: auto;
		//overflow: auto;
	}

	.middle-offset{
	   	display: none;
	}

	//home page
	#home{
		height: 100vh;
	}
	.snow-mountain{
		img{
			max-width: 290px;
		}
	}

	svg#rects-01{
		width: 60px;	
	}

	svg#rects-02{
		width: 50px;
	}

	.home-title-container{
		top: 73%;
	}
	
	.rects-01{
	    top: 14%;
    	right: 8%;
	}

	.rects-02{
		top: 50%;
    	left: 4%;
	}
	
	.home-title-container{
		width: 100%;
		.home-name{
			letter-spacing: 5px;
		}
		.home-title{
			letter-spacing: 8px;
		}
	}
	
	.arrow{
		width: 30px;
		height: 30px;
		&:before{
			width: 15px;
			height: 15px;
		}
	}

	#nav-icon.active{
		left: 60%;
	}

	//about page


	//skills page
	.skills-title, .portfolio-title{
		margin-top: $phi * $phi * 1em;
	}

	.skills-title svg#rects-04{
		width: 2.75em;
    	margin: -6em 0 0 4.8em;	
	}

	.table-container{
		display: none;
	}
	.bottle-container{
		flex-wrap: wrap;
		justify-content: space-around;
		
		.bottle{
			margin: 2em;
			width: em(110);
			height: em(170);
		}
		.circle-drop-container{
			width: em(30);
			height: em(30);
			top: em(120);
		}
	}

	.fu-progress{
		border: 5px solid $blue;
		.fu-inner{
			 width: em(100);
		     height: em(160);
		     border: em(5) solid #ffffff;
		}
		.fu-text{
			font-size: 1em;
		}
	}
	
	//portfolio page
	.portfolio-categories{
		min-width: em(200);
		margin-right: 0;
		margin-bottom: 1.5em;
		&:nth-child(odd){
			a{
				margin: 0;
			}
		}	

		figcaption{
			h2{
				margin-top: -1em;
			}
		}
	}
	
	//design page
	#design{
		.title{
			margin-top: $phi * 1em;
		}
	}

	.float-left .left-column, .float-right .right-column{
		background-image: none;
	}

	.categories-menu{
		margin-top: $phi * -1em;
		margin-bottom: $phi * 1em;
		li{
			display: inline-block;
			padding: .5em;			
		 }	
	}

	ul.round-thumbs{
		li{
			padding-bottom: 0;
			.design-item{
				width: em(170);
				height: em(170);
				.design-info{
					h3{
						margin: 1em em(30) em(5) em(30);
					}
				}
			}
		}
	}
	
	//remodal
	.remodal{
		margin: 0;
	}
	
	//photography page
	#photography ul.photo-thumbs{
		width: 100%;
		padding: 0 15px;
	}
	//videos page
	div#video-carousel{
		padding: 1.618em 15px;
	}
		
	.title.videos-title {
			margin-top: $phi * 1em;
	}


	//painting page
	#painting{
		.painting-title{
			margin-top: $phi * 1em;;
		}
		.painting-img-row{
			margin-bottom: $phi * 1em;;
		}
	}
	//contact page
	#contact .container {
    	margin: $phi * 1em auto;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	
	//home page

	//about page


	//skills page
	.bottle-container{
		.bottle{
			margin: 1em;
		}
	}
	
	//portfolio page
	
	//design page
	
	//photography page

	//videos page
	
	//painting page
	
	//contact page
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
	//home page

	//about page


	//skills page
	.bottle-container{
		.bottle{
			margin: 2.5em;
		}
	}


	//portfolio page
	
	//design page
	
	//photography page

	//videos page
	
	//painting page
	
	//contact page
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
	
}
