@charset "UTF-8";

@import 'mixin.scss';
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;



/* Mobile devices less than 768px */ 
@media (max-width: 768px){
	//general
	h1, h2{
		font-size: 2em;
	}

	section, #skills, .left-column, .right-column{
		height: auto;
		//overflow: auto;
	}

	.middle-offset{
	   	display: none;
	}
	
	//nav
	#nav-icon.active{
		left: 50%;
	}
	
	div#nav-bg{
		display: none;
	}
	
	div#nav-items{
		margin-top: 30%;
	}
	div#nav-box{
		height: 100%;
    	width: 66.67%;
    	background: $yellow;
	}
	#nav-items .nav-item {
		padding: 1em 1.618em;
	}
	#nav-items .nav-item:hover:after, #nav-items .nav-item:active:after {
    	width: 40%;
    	left: 12%;
    }
	#nav-items .nav-item:after {
		left: 20%;
	}

	//work page categories
	.float-left .categories-menu{
		ul{
			a{
				&:hover, &:active{
					margin-right: 0;
					font-weight: bold;
				}
				
			}
		}
		li{
			font-size: 1.2em;
		}
	}

	.float-right .categories-menu{
		ul{
			a{
				&:hover, &:active{
					margin-left: 0;
					font-weight: bold;
				}
				
			}
		}
		li{
			font-size: 1.2em;
		}
	}

	//home page
	#home, #about{
		height: 100vh;
	}
	.snow-mountain{
		img{
			max-width: 320px;
		}
	}

	svg#rects-01{
		width: 60px;	
	}

	svg#rects-02{
		width: 50px;
	}

	.home-title-container{
		top: 73%;
	}
	
	.rects-01{
	    top: 15%;
    	right: 5%;
	}

	.rects-02{
		top: 50%;
    	left: 5%;
	}
	
	.home-title-container{
		width: 100%;
		.home-name{
			letter-spacing: 5px;
		}
		.home-title{
			letter-spacing: 8px;
		}
	}
	
	.arrow{
		width: 30px;
		height: 30px;
		&:before{
			width: 15px;
			height: 15px;
		}
	}

	
	//about page
	.intro-text{
		overflow: auto;
		height: 60vh;
	}
	.floating-rects-container{
		display: none;
	}
	.intro .rects-03{
		margin-left: 8.5em;
    	margin-top: -1em;
	}

	.intro svg#rects-03{
		width: 2.75em;
	}
	.intro{
		margin-top: 1.618em;
	}

	//skills page
	.skills-title, .portfolio-title{
		margin-top: $phi * $phi * 1em;
	}

	.skills-title svg#rects-04{
		width: 2.75em;
    	margin: -6em 0 0 4.8em;	
	}

	.table-container{
		display: none;
	}
	.bottle-container{
		flex-wrap: wrap;
		justify-content: space-around;
		
		.bottle{
			margin: 2em;
			width: em(110);
			height: em(170);
		}
		.circle-drop-container{
			width: em(30);
			height: em(30);
			top: em(120);
		}
	}

	.water{
		top: 5%;
	}

	svg.circle-drop{
		display: none;
	}

	.fu-progress{
		border: 5px solid $blue;
		.fu-inner{
			 width: em(100);
		     height: em(160);
		     border: em(5) solid #ffffff;
		}
		.fu-text{
			font-size: 1em;
		}
	}
	
	//portfolio page
	.portfolio-cat-container{
		flex-wrap: wrap;
		flex-direction: column;
				
		.portfolio-cat{
			flex: 1 100%;
			padding: 1em;
		}
	}
	#portfolio .portfolio-title .rects-05 {
		margin: -7em 3.5em;
	}
	#portfolio .portfolio-title #rects-05 {
		width: 2.5em;
	}
	
	.arrow-up{
		display:none;
	}
	#portfolio .portfolio-cat-container {
		margin-bottom: 0;
	}
	//design page
	#design{
		.title{
			margin-top: $phi * 1em;
		}
	}

	.float-left .left-column, .float-right .right-column{
		background-image: none;
	}

	.categories-menu{
		margin-top: $phi * -1em;
		margin-bottom: $phi * 1em;
		li{
			display: inline-block;
			padding: .5em;			
		 }	
	}

	ul.round-thumbs{
		li{
			padding-bottom: 0;
			.design-item{
				width: em(150);
				height: em(150);
				.design-info{
					h3{
						margin: 1em 0.5em 0.2em 0.5em;
    					padding-top: 0.5em;
					}
					p{
						font-size: .8em;
						margin: -0.5em 1.875em;
					}
				}
			}
		}
	}
	
	//remodal
	.remodal{
		margin: 0;
	}
	
	//photography page
	#photography ul.photo-thumbs{
		width: 100%;
		padding: 0 15px;
	}
	//videos page
	div#video-carousel{
		padding: 1.618em 15px;
	}
		
	.title.videos-title {
			margin-top: $phi * 1em;
	}


	//painting page
	#painting{
		.painting-title{
			margin-top: $phi * 1em;;
		}
		.painting-img-row{
			margin-bottom: $phi * 1em;;
		}
	}
	//contact page
	#contact .container {
    	margin: $phi * 1em auto;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	//general
	#skills{
		height: 50vh;
	}
	
	#about {
		height: 50vh;
	}

	//nav
	div#nav-box {
		width: 33.33%;
	}

	#nav-icon.active {
    	left: 25%;
	}
	div#nav-items{
		margin-top: 0;
	}
	#nav-items .nav-item:hover:after, #nav-items .nav-item:active:after {
    	width: 35%;
    	left: 6%;
    }
	#nav-items .nav-item:after {
		left: 20%;
	}


	//home page
	.blue-circle-container {
    	top: 43%;
	}
	.snow-mountain{
		img{
			max-width: 380px;
		}
	}

	.rects-01{
	    top: 28%;
    	right: 27%;
	}

	.rects-02{
		top: 50%;
    	left: 26%;
	}

	svg#rects-01{
		width: 70px;	
	}

	svg#rects-02{
		width: 60px;
	}

	.home-title-container{
		.home-name{
			letter-spacing: 9px;
		}
		.home-title{
			letter-spacing: 10px;
		}
	}

	//about page


	//skills page
	.bottle-container{
		.bottle{
			margin: 1em;
		}
	}
	.table-container{
		display: block;
		margin-top: -5em;
		width: 90%;
	}
	.skills-title{
		margin-top: $phi * $phi * $phi * 1em;
	}
	
	
	//portfolio page
	
	//design page
	ul.round-thumbs{
		margin-left: 1.618em;
		li{
			.design-item{
				width: em(180);
				height: em(180);
				.design-info{
					h3{
						margin: 1em 1.25em 0.3125em 1.25em;
    					padding: 1em 0 0 0;
					}
					p{
						font-size: 1em;
						margin: 0 em(30);
					}
				}
			}
		}
	}


	
	//photography page

	//videos page
	
	//painting page
	
	//contact page
}


/* tablet landscpae */
@media (min-width: 992px) and (max-width: 1199px) { 
	//home page

	//about page

	//nav 
	#nav-icon.active{
		left: 50%;
	}

	//skills page
	.bottle-container{
		.bottle{
			margin: 2.5em;
		}
	}
	

	//portfolio page


	//design page
	
	//photography page

	//videos page
	
	//painting page
	
	//contact page
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
	#skills{
		.container{
			@include centerEl;
		}
	}
	#deisgn{
		.container{
		@include centerEl;
		}
	}
	ul.round-thumbs{
		height: 95vh;	
	}
	.contact-form-container {
		padding-left: 0;
	}
}

    
@media (min-width: 1600px) {
  .rects-02 {
    top: 50%;
    left: 38%; }

  .rects-01 {
    top: 22%;
    right: 39.5%; }

  .blue-circle-container {
    top: 41%; }

  .home-title-container {
    top: 67%; }
    .home-title-container .home-name {
      font-size: 1.5em;
      letter-spacing: 12px;
      margin-bottom: 0.8em; }
    .home-title-container .home-title {
      letter-spacing: 11px;
      font-size: 1.1em; }

  .intro {
    margin-top: 6.5em; }

  .tilt-mountain img {
    max-height: 59em; }

  .round-thumbs::-webkit-scrollbar {
    width: 0; }
	
	ul.round-thumbs{
		margin-top: 4em;
	}
	.design-title{
		margin-top: 8rem;
	}
  .photography-title {
    margin-top: 19.5rem; }

  .title.videos-title {
    margin-top: 21.472rem; }

  #painting .painting-title {
    margin-top: 33.7rem; }

  #nav-items {
    top: 19.5%; }
    #nav-items .nav-item {
      padding: 15px 45px; }

  #nav-icon.active {
    left: 11%; } }

