@charset "UTF-8";
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

/* focuspoint for bg imgs */
.focuspoint {
	position: relative; /*Any position but static should work*/
	overflow: hidden;
}
.focuspoint img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	display: block;
	/* fill and maintain aspect ratio */
	width: auto; height: auto;
	min-width: 100%; min-height: 100%;
	max-height: none; max-width: none;
}

/* general */
$blue: #6dcff6;
$yellow: #fff568;
$pale-sky: #6b717f;
@mixin serif-font{font-family: 'Playfair Display', serif;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Playfair Display', serif;
	color: darken($pale-sky, 10);
	/* Background pattern from subtlepatterns.com */
	background-image: url('../img/lightpaperfibers.png');
}

html, body{
	height: 100%;
	margin: 0;
}

.wrapper{
	height: 100%;
	width: 100%;
	min-height: 500px;
}

section {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#about{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	right: 0;
}

#about{
	background-color: $yellow;
	background-image: url('../img/yellow-bg.png');
	transform: translateY(100%);
}

#skills{
	height: 100%;
	width: 100%;
	position: relative;
}


footer {
	text-align: center;
}

.title{
	font-weight: 300;
	font-size: 3.5em;
}

/* snow mountain img */
.snow-mountain, .blue-circle-container, .yellow-circle-container, .center-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.snow-mountain img{
	max-width: 400px;
}

/* blue circle svg */
.blue-circle-container {
    top: 38%;
}

#blue-circle, #yellow-circle {
	width: 300px;
	height: 300px;
}

.blue-circle{
	fill: rgba($blue, .8);
    mix-blend-mode: multiply; 
}

/* rects */
.rects{
	position: absolute;
	display: inline;
}


.rects-01{
    top: 15%;
    right: 32.5%;
}

.rects-02{
	top: 51.5%;
    left: 31%;
}

rect.rect{
	fill:none;
	stroke:$yellow;
	stroke-width:3;
	stroke-miterlimit:10;
	mix-blend-mode: multiply; 
}


//down arrow
.arrow,
.arrow:before{
   position: absolute;
   left: 50%;
}
  
.arrow{
	width: 40px;
	height: 40px;
	bottom: 5%;
	margin: -20px 0 0 -20px;
	-webkit-transform: rotate(45deg);
	border-left: none;
	border-top: none;
	border-right: 3px $blue solid;
	border-bottom: 3px $blue solid;

}
 
  
.arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px $blue solid;
  border-bottom: 1px $blue solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
  
  
@keyframes arrow{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translate(-10px, -10px);
	}

}

//home page title
.home-title-container{
	top: 72%;
	max-width: 400px;
	text-align: center;
	@include serif-font;
	font-weight: 300;
}

.home-title{
	width: 100%;
	letter-spacing: 9px;
	font-size: 1.1em;
}
 
 .home-name {
 	width: 100%;
 	font-size: 1.5em;
 	letter-spacing: 10px;
 	margin-bottom: 1em;
 }

//nav
$easing: cubic-bezier(.6, .05, .28, .91);
#nav-icon{
	position: absolute;
	z-index: 500;
	top: 2em;
	left: 3%;
	cursor: pointer;
	transition: left 500ms $easing;
	div{
		width: 35px;
        height: 2px;
        margin-bottom: 8px;
        background-color: $blue;
        transition: transform 500ms $easing, opacity 500ms, background-color 250ms;;
	}
	
	&.active{
		left: 13%;
		div{
			background-color: darken($pale-sky, 10);
		}
		#nav-top{
			transform: translateY(10px) rotate(-135deg);;
		}
		#nav-middle{
			opacity: 0;
		}
		#nav-bottom{
			transform: translateY(-10px) rotate(-45deg);;
		}
		
	}
}


#nav-box{
	position: fixed;
	z-index: 4;
    overflow: auto;
    top: 0px;
    left: -20%;
    width: 20%;
    opacity: 0;
    padding: 25px 0px;
    height: 100%;
    transition: all 350ms $easing;
    &.active{
    	left: 0;
    	opacity: 1;
    }
}  

#nav-bg{
	position: fixed;
	z-index: 3;
    overflow: hidden;
    top: 0px;
    left: -20%;
    opacity: 0;
    width: 0;
	height: 0;
	border-style: solid;
	border-color: $yellow transparent transparent transparent;
    transition: all 350ms $easing;
    &.active{
    	left:0;
    	opacity: 1;
    }
}


#nav-items{
	position: relative;
	top: 21%;
	transform: translateY(-50%);
	font-size: 1.3em;
	@include serif-font;
	
	.nav-item{
		position: relative;
		cursor: pointer;
		padding: 15px 35px;
		transition: all 250ms;
		&:hover{
			color: $blue;
			transition: all 250ms ease-in;
		}
	}
}

//about page

.tilt-mountain{
	img{
		position: absolute;
		width: 100%;
		max-height: 600px;
		bottom: 10px;
	}
}

.intro{
	position: absolute;
	top: 12%;
	padding: 1.5em;
	max-width: 600px;
	max-height: 380px;
	box-sizing: border-box;
	.intro-title{
		display: inline-block;
		max-width: 220px;
		max-height:72px;
		box-sizing: border-box;
		transform-style: preserve-3d;
	}
	.intro-text{
		margin-top: -56px;
		font-size: 1.2em;
		line-height: 1.5em;
		text-align: justify;
	}
	.rects-03{
		left: 36%;
		top: -4.5%;
	}
	svg#rects-03{
		width: 50px;
	}
	rect.rect-white{
		stroke:white;
		mix-blend-mode: normal;
	}
}

//flipping rectangle
body{
	-webkit-perspective: 1000px;
}

.flip-front, .flip-back{
	width: 215px;
	height:72px;
}

.flip-front{
	transform: translateZ(50px);
	border: 3px solid #fff;
	&.about-me{
		margin-bottom: .2em;
	}
}

.flip-back{
	transform: rotateX(-90deg) translateZ(-50px);
}

//skills page
//drops/bottles container
.bottles-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: table;
	margin: 0 auto;
}
//single drop/bottle container
.bottle{
	position: relative;
	display: table-cell;
	width: 120px;
	height: 180px;
	margin: 3em;
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
}


//drop path
.drop{
	fill: $yellow;
}

.circle-drop-container{
	z-index: 7;
	width: 30px;
	height: 30px;
	position: relative;
	//drop position
	top: 130px;
	left:50%;
	transform: translateX(-50%);
}

.circle-drop{
	width: 100%;
	height: 100%;
}

//bottle
@keyframes spin{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bottle{
	width: 120px;
	height: 180px;
}

//bottle styless
.fu-progress{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
  border: 5px solid $blue;
  .fu-inner{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    z-index: 2;
    width: 110px;
    height: 170px;
    border: 5px solid #ffffff;
    background: #fff;
    .water{
      position: absolute;
      z-index:1;
      background: $blue;
      width: 200%;
      height: 140%;
      //water height, less - higher
      top: 90%;
      left: -50%;
      border: 1px solid transparent;
      border-radius: 40% !important;
      
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transition: all 1s ease !important;
      -webkit-transition: all 1s ease !important;
      animation-duration: 10s;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    .glare{
      position: absolute;
      top: -120%;
      left: -120%;
      z-index: 5;
      width: 200%;
      height: 200%;
      transform: rotate(45deg);
      background: rgba(255, 255, 255, 0.2);
      border-radius: 20%;
    }
    .fu-text {
      z-index: 6;
      position: absolute;
      color: #fff;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

//table under the bottles
.table-container{
	height: 100px;
	width: 83%;
	top: 62%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-perspective: 300px; 
    perspective: 300px;
}

.table{
	background: $yellow;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateX(45deg); 
    transform: rotateX(45deg);
}

.skills-title{
	top: 19%;
	left: 8%;
	position: absolute;
}

//blue drop svg
svg#rects-04{
	position: relative;
	width: 55px;
	margin-left: -10px;
	rect{
		stroke: $blue;
	}
}

//portfolio page

.portfolio-container{
	height: 100%;
	background-image: url('../img/blue-bg.png');
	background-color: $blue;
	padding-top: 2%;
	.portfolio-title{
		color: #fff;
	}
}

.portfolio-categories-container{
	margin: 40px auto 120px;
	max-width: 1400px;
	width: 100%;
	div{
		max-width:240px;
	}
	div:nth-child(odd) {
			a{
				margin: 30px 0 -30px 0;
			}
	}
	.portfolio-categories{
		width: 25%;
		margin-right: 2em;
		min-width: 260px;
		max-height: 320px;
		//border: 1px solid red;
	}
}

#portfolio:before, #skills:after{
	content:"";
	display: block;
	width: 100%;
	background-clip: padding-box;
	border-style: solid;
	border-image-source: url('../img/blue-wave.svg');
	border-image-slice: 100% 0 0 0;
	border-image-width: 32px 0 0 0;
	border-image-outset: 0;
	border-image-repeat: repeat stretch;
	border-width: 32px 0 0;	
}
#portfolio:before{
	background-color: $blue;
	border-color: $blue;
}
#skills:after{
	background-color: $blue;
	border-color: $blue;
	border-image-source: url('../img/yellow-wave.svg');
}

//portfolio grids
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}

.portfolio-categories{
	a{
		float: left;
		width: 100%;
		height: 100%;
		color: #333;
		//box-shadow: 5px 5px 0px 1px $yellow;
	}
	figure{
		position: relative;
		overflow: hidden;
		background: #333;
		img{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			opacity: 0.9;
			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
		button{
			position: absolute;
			padding: 12px;
			width: 100%;
			//text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: bold;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			transition: opacity 0.3s, transform 0.3s;
			top: 50%;
			left: 50%;
			border: 3px solid transparent;
			background: rgba(#fff,0.8);
			color: darken($pale-sky, 10);
			opacity: 0;
			-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
			transform: translateY(-50%) translateX(-50%) scale(0.25);
		}
	}
	figcaption{
		position: absolute;
		top: 0;
		z-index: 11;
		padding: 10px;
		width: 100%;
		height: 100%;
		text-align: center;
		h2{
			margin: 0 0 20px 0;
			color: darken($pale-sky, 10);
			//text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 300;
			font-size: 130%;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
		}
		
	}
	svg{
		position: absolute;
		top: -1px; /* fixes rendering issue in FF */
		z-index: 10;
		width: 100%;
		height: 80%;
	}
	svg path{
		fill: rgba($yellow, 0.9);
		mix-blend-mode: multply;
	}
}


.portfolio-categories {
	figcaption,figcaption h2, button{
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	figcaption{
		h2,p{
			transform: translateY(50px);
		}
	} 
}

.portfolio-categories a:hover {
	figure {
		img {
			opacity: 1;
		}
		button{
			opacity: 1;
			transform: translateY(-50%) translateX(-50%) scale(1);
		}
	}
	figcaption h2{
		transform: translateY(0);
	}
	
}


